<h1>Reglement du site :</h1><br/><br/> 

Regle 1 : L'administrateur est le tout puissant.<br/><br/>

Regle 2 : S'il y a un probleme, se referer à la regle 3.<br/><br/>

Regle 3 : Il n'y a pas de problème, que des solutions - Mr Gauthier<br/><br/>

Regle 4 : Ne pas critique le CSS, si vous n'aimez pas, vous referez à la regle 2.<br/><br/>

Regle 6 : Il n'y a pas de case pour cocher car vous acceptez ces regles.<br/><br/>

Regle 7 : Vous avez vu qu'il n'y a pas de regle 5 ? La vous venez de verifier.<br/><br/>

Regle 34 : Si ça existe, il y a du #@*$% à ce sujet.<br/><br/>

Regle 35 : Si il n'existe pas de #@*$% à ce sujet, ça va venir.<br/><br/>

<a href="index.php">Retour</a>