body{
	margin: 0 auto;
	width:80%;
	height: 100%;
	background-color: #e9e9e9;
	font-size: 20px;
}

img{
	height: 25%;
	width: 25%;
}

#entete{
	width: 100%;
	float: left;
	padding-bottom: 5%;
}

a{
	padding: 3%;
	font-size: 24px;
	text-decoration: none;
	color: black;
}

fieldset{
	margin: 0 auto;
	width: 30%;
	border-radius: 5px;
}

legend{
	font-size: 25px;
}

input{
	border: none;
	width: 100%;
	height: 25px;

}

input[type="submit"]{
	cursor: pointer;
	border: solid 1px black;
	border-radius: 5px;
}

label{
	margin: 0 auto;
	font-size: 18px;
	color: red;
}

table{
	border-collapse: collapse;
	font-size: 18px;
}

tr td{
	width: 5%;
}

p{
	font-size: 20px;
}

#inputMDP{
	width: 80%;
}

select{
	width: 100%;
}

textarea{
	width: 100%;
	height: 15%;
}
#chat {
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 200px;
  background-color: lightblue;
}
#chatA {
  position: fixed;
  bottom: 50px;
  right: 0;
  width: 200px;
  background-color: lightblue;
}
#but {
	position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
	height: 50px;
  background-color: lightblue;
}
